/* About section */
.about {
  max-width: 100%;
  margin: 4rem 2.5rem 1rem 5rem;
  padding: 0;
  color: rgb(9, 92, 104);
}

.about-container {
  display: flex;
  align-items: flex-start;
  gap: 5rem;
  padding: 2rem 2rem 1.4rem 2rem;
  flex-wrap: wrap;
}

.about-visbook {
  max-width: 400px;
  height: auto;
  object-fit: contain;
}

.about-text {
  flex: 1;
  /* margin-right: 2rem; */
}

.about-text h2 {
  text-align: left;
  margin: 0;
  padding-top: 0;
  padding-bottom: 2rem;
  font-size: 1.75rem;
}

.about-text p {
  margin: 0.5rem 0;
  line-height: 1.6;
}

/* Devices: 549 and below */
@media screen and (max-width: 549px)  {
  .about-container {
    display: block;
    padding: 2rem;
  }

  .about-text h2 {
    padding-top: 30px;
    width: 90%;
    text-align: center;
  }
  .about-visbook {
    max-width: 230px;
    display: block;
    margin: 0 auto 1rem auto;
  }    
}

/* Devices: 550px - 664px */
@media (min-width: 550px) and (max-width: 664px) {
  .about-container {
    display: block;
    padding: 2rem;
  }

  .about-text h2 {
    padding-top: 30px;
    width: 90%;
    text-align: center;
  }
  .about-visbook {
    max-width: 400px;
    display: block;
    margin: 0 auto 1.5rem auto;
  }    
}

/* Medium devices: 665px – 999px */
@media (min-width: 665px) and (max-width: 999px) {
  .about-container {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    margin: 0;
  }

  .about-text h2 {
    padding-top: 30px;
    width: 100%;
    text-align: center;
  }

  .about-visbook {
    width: 600px;
    display: block;
    margin: 0 auto 1.5rem auto;
  }  
  
}

/* Large devices: ≥1000px */
@media screen and (min-width: 1000px) {
  .about-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .about-text h2 {
    text-align: left;
  }
}
